body{
    padding: 0;
    margin: 0;
}

.main{
    width: 1000px;
    height: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: black;
}

.timer{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 50px white;
    align-items: center;
    justify-content: center;
    display: flex;
    background: black;
    color: chocolate;
    margin: auto;
}